body
{font-family: Arial, Helvetica, sans-serif;
background: url(fond.jpg) fixed center/cover;
height: 100vh;
}

#bloc_page
{width: 1300px;
margin:auto}

@media all and (max-width: 1024px)
{
    #bloc_page
    {
        width: auto;
    }
    nav
    {
        width: auto;
        text-align: left;
    }
    nav ul
    {
        flex-direction: column;
    }
    nav li
    {
        padding-left: 4px;
    }
    nav a
    {
        font-size: 1em;
    }
    nav a:hover
    {
        border-bottom: 0;
    }
    section
    {
        flex-direction: column;
    }
    article
    {
        width: auto;
        margin-bottom: 15px;
    }
}

header h1{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2.5rem;
    color:darkblue;
    text-align: center;
    font-weight: bold;
    background-color: white;
}

h2{
    color: darkblue;
    font-size: 30px;
    font-weight: bold;
    line-height: 25px;
}


nav ul{
    list-style-type: none;
    display: flex;
    text-align: center;
    border: 3px solid blue;
    box-shadow: 6px 6px 0px blueviolet;
    background-color: aliceblue;
    padding: 5px 5px 5px 5px;
}

nav li{
    margin-left: 20px;
}

nav a{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: :3px;
    text-decoration:none;
}

nav a:hover{
    color:darkblue;
    border-bottom: 3px solid red;
}

section{
    border: 20px blueviolet solid;
    background-color: white;
    padding: 20px 20px 20px 20px;
    font-size: 1em;
    text-align: justify;
    line-height: 20px;
}

.zoom{
    text-align: center;
    font-size: 30px;
    color: red;
    font-weight: bold;
    font-style: italic;
    text-decoration: blink underline;
    line-height: 30px;
    text-shadow: 5px 5px 2px yellow;    
}

.zoom:hover{
    background-color: lightgreen;
    
} 